@charset "UTF-8";
.container {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 10rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.container .inner-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 0.2fr 1fr auto;
      grid-template-rows: 0.2fr 1fr auto;
  width: 100%;
  margin: 0 auto;
}

/*      Nav links      */
.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.contact a {
  position: relative;
  text-decoration: none;
  font-family: inherit;
  font-weight: 400;
  font-size: 1.2rem;
  padding: 10px 0;
  color: var(--dark);
  cursor: url("../images/flex-streamline-icon-interface-cursor-hand@26x26.svg"), auto;
}

.contact .portfolio {
  background: -webkit-gradient(linear, left top, left bottom, from(var(--crackle)), to(var(--crackle)));
  background: linear-gradient(to bottom, var(--crackle) 0%, var(--crackle) 100%);
}

.contact .resume {
  background: -webkit-gradient(linear, left top, left bottom, from(var(--pizzazz)), to(var(--pizzazz)));
  background: linear-gradient(to bottom, var(--pizzazz) 0%, var(--pizzazz) 100%);
}

.contact .linkedin {
  background: -webkit-gradient(linear, left top, left bottom, from(var(--snap)), to(var(--snap)));
  background: linear-gradient(to bottom, var(--snap) 0%, var(--snap) 100%);
}

.contact .email {
  background: -webkit-gradient(linear, left top, left bottom, from(var(--highlight)), to(var(--highlight)));
  background: linear-gradient(to bottom, var(--highlight) 0%, var(--highlight) 100%);
}

.contact .portfolio,
.contact .resume,
.contact .linkedin,
.contact .email {
  background-position: 100% 0;
  background-repeat: repeat-x;
  background-size: 4px 4px;
  text-decoration: none;
  -webkit-transition: background-size .2s;
  transition: background-size .2s;
}

.contact .portfolio:hover,
.contact .resume:hover,
.contact .linkedin:hover,
.contact .email:hover {
  background-size: 4px 50px;
}

.contact a + a {
  margin-left: 42px;
}

/*      CTAs      */
h2 a {
  font-size: 2rem;
  font-weight: 500;
  line-height: 3rem;
  text-decoration: none;
  color: var(--dark);
  padding: 6px 0;
  margin-left: 0;
  cursor: url("../images/flex-streamline-icon-interface-cursor-hand@26x26.svg"), auto;
}

h2 .work {
  background: -webkit-gradient(linear, left top, left bottom, from(var(--crackle)), to(var(--crackle)));
  background: linear-gradient(to bottom, var(--crackle) 0%, var(--crackle) 100%);
}

h2 .talk {
  background: -webkit-gradient(linear, left top, left bottom, from(var(--highlight)), to(var(--highlight)));
  background: linear-gradient(to bottom, var(--highlight) 0%, var(--highlight) 100%);
}

h2 .work,
h2 .talk {
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 4px;
  -webkit-transition: background-size .2s;
  transition: background-size .2s;
}

h2 .work:hover,
h2 .talk:hover {
  background-size: 4px 50px;
}

/*
* Styles for Background Funfetti✨
* Thank you @sengokukun
* https://codepen.io/sengoku/pen/LYVzVjp
*/
.shape {
  overflow: clip;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0.7;
  z-index: -1;
}

.random-shape:after {
  content: var(--content, "✨");
}

.wavy {
  --content: '👋';
}

.rockstar {
  --content: '👩🏻‍🎤';
}

.adventure {
  --content: '⚔️';
}

.scifi {
  --content: '🛸';
}

.stitch {
  --content: '🧵';
}

@-webkit-keyframes shape-1 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(195deg);
            transform: translate3d(0, 0, 0) rotate(195deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(555deg);
            transform: translate3d(0, 0, 0) rotate(555deg);
  }
}

@keyframes shape-1 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(195deg);
            transform: translate3d(0, 0, 0) rotate(195deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(555deg);
            transform: translate3d(0, 0, 0) rotate(555deg);
  }
}

.shape-container--1 {
  -webkit-animation: shape-1 63s linear infinite;
          animation: shape-1 63s linear infinite;
}

.shape-container--1 .random-shape:after {
  margin: 8.7rem;
  font-size: 1.74rem;
}

@-webkit-keyframes shape-2 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(258deg);
            transform: translate3d(0, 0, 0) rotate(258deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(618deg);
            transform: translate3d(0, 0, 0) rotate(618deg);
  }
}

@keyframes shape-2 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(258deg);
            transform: translate3d(0, 0, 0) rotate(258deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(618deg);
            transform: translate3d(0, 0, 0) rotate(618deg);
  }
}

.shape-container--2 {
  -webkit-animation: shape-2 48s linear infinite;
          animation: shape-2 48s linear infinite;
}

.shape-container--2 .random-shape:after {
  margin: 4.7rem;
  font-size: 0.94rem;
}

@-webkit-keyframes shape-3 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(265deg);
            transform: translate3d(0, 0, 0) rotate(265deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(625deg);
            transform: translate3d(0, 0, 0) rotate(625deg);
  }
}

@keyframes shape-3 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(265deg);
            transform: translate3d(0, 0, 0) rotate(265deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(625deg);
            transform: translate3d(0, 0, 0) rotate(625deg);
  }
}

.shape-container--3 {
  -webkit-animation: shape-3 60s linear infinite;
          animation: shape-3 60s linear infinite;
}

.shape-container--3 .random-shape:after {
  margin: 2.7rem;
  font-size: 0.54rem;
}

@-webkit-keyframes shape-4 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(26deg);
            transform: translate3d(0, 0, 0) rotate(26deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(386deg);
            transform: translate3d(0, 0, 0) rotate(386deg);
  }
}

@keyframes shape-4 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(26deg);
            transform: translate3d(0, 0, 0) rotate(26deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(386deg);
            transform: translate3d(0, 0, 0) rotate(386deg);
  }
}

.shape-container--4 {
  -webkit-animation: shape-4 59s linear infinite;
          animation: shape-4 59s linear infinite;
}

.shape-container--4 .random-shape:after {
  margin: 4.7rem;
  font-size: 0.94rem;
}

@-webkit-keyframes shape-5 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(325deg);
            transform: translate3d(0, 0, 0) rotate(325deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(685deg);
            transform: translate3d(0, 0, 0) rotate(685deg);
  }
}

@keyframes shape-5 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(325deg);
            transform: translate3d(0, 0, 0) rotate(325deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(685deg);
            transform: translate3d(0, 0, 0) rotate(685deg);
  }
}

.shape-container--5 {
  -webkit-animation: shape-5 55s linear infinite;
          animation: shape-5 55s linear infinite;
}

.shape-container--5 .random-shape:after {
  margin: 3.7rem;
  font-size: 0.74rem;
}

@-webkit-keyframes shape-6 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(86deg);
            transform: translate3d(0, 0, 0) rotate(86deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(446deg);
            transform: translate3d(0, 0, 0) rotate(446deg);
  }
}

@keyframes shape-6 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(86deg);
            transform: translate3d(0, 0, 0) rotate(86deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(446deg);
            transform: translate3d(0, 0, 0) rotate(446deg);
  }
}

.shape-container--6 {
  -webkit-animation: shape-6 41s linear infinite;
          animation: shape-6 41s linear infinite;
}

.shape-container--6 .random-shape:after {
  margin: 4.7rem;
  font-size: 0.94rem;
}

@-webkit-keyframes shape-7 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(249deg);
            transform: translate3d(0, 0, 0) rotate(249deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(609deg);
            transform: translate3d(0, 0, 0) rotate(609deg);
  }
}

@keyframes shape-7 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(249deg);
            transform: translate3d(0, 0, 0) rotate(249deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(609deg);
            transform: translate3d(0, 0, 0) rotate(609deg);
  }
}

.shape-container--7 {
  -webkit-animation: shape-7 64s linear infinite;
          animation: shape-7 64s linear infinite;
}

.shape-container--7 .random-shape:after {
  margin: 6.7rem;
  font-size: 1.34rem;
}

@-webkit-keyframes shape-8 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(136deg);
            transform: translate3d(0, 0, 0) rotate(136deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(496deg);
            transform: translate3d(0, 0, 0) rotate(496deg);
  }
}

@keyframes shape-8 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(136deg);
            transform: translate3d(0, 0, 0) rotate(136deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(496deg);
            transform: translate3d(0, 0, 0) rotate(496deg);
  }
}

.shape-container--8 {
  -webkit-animation: shape-8 45s linear infinite;
          animation: shape-8 45s linear infinite;
}

.shape-container--8 .random-shape:after {
  margin: 3.7rem;
  font-size: 0.74rem;
}

@-webkit-keyframes shape-9 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(37deg);
            transform: translate3d(0, 0, 0) rotate(37deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(397deg);
            transform: translate3d(0, 0, 0) rotate(397deg);
  }
}

@keyframes shape-9 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(37deg);
            transform: translate3d(0, 0, 0) rotate(37deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(397deg);
            transform: translate3d(0, 0, 0) rotate(397deg);
  }
}

.shape-container--9 {
  -webkit-animation: shape-9 41s linear infinite;
          animation: shape-9 41s linear infinite;
}

.shape-container--9 .random-shape:after {
  margin: 8.7rem;
  font-size: 1.74rem;
}

@-webkit-keyframes shape-10 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(353deg);
            transform: translate3d(0, 0, 0) rotate(353deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(713deg);
            transform: translate3d(0, 0, 0) rotate(713deg);
  }
}

@keyframes shape-10 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(353deg);
            transform: translate3d(0, 0, 0) rotate(353deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(713deg);
            transform: translate3d(0, 0, 0) rotate(713deg);
  }
}

.shape-container--10 {
  -webkit-animation: shape-10 48s linear infinite;
          animation: shape-10 48s linear infinite;
}

.shape-container--10 .random-shape:after {
  margin: 1.7rem;
  font-size: 0.34rem;
}

@-webkit-keyframes shape-11 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(352deg);
            transform: translate3d(0, 0, 0) rotate(352deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(712deg);
            transform: translate3d(0, 0, 0) rotate(712deg);
  }
}

@keyframes shape-11 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(352deg);
            transform: translate3d(0, 0, 0) rotate(352deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(712deg);
            transform: translate3d(0, 0, 0) rotate(712deg);
  }
}

.shape-container--11 {
  -webkit-animation: shape-11 41s linear infinite;
          animation: shape-11 41s linear infinite;
}

.shape-container--11 .random-shape:after {
  margin: 6.7rem;
  font-size: 1.34rem;
}

@-webkit-keyframes shape-12 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(82deg);
            transform: translate3d(0, 0, 0) rotate(82deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(442deg);
            transform: translate3d(0, 0, 0) rotate(442deg);
  }
}

@keyframes shape-12 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(82deg);
            transform: translate3d(0, 0, 0) rotate(82deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(442deg);
            transform: translate3d(0, 0, 0) rotate(442deg);
  }
}

.shape-container--12 {
  -webkit-animation: shape-12 70s linear infinite;
          animation: shape-12 70s linear infinite;
}

.shape-container--12 .random-shape:after {
  margin: 5.7rem;
  font-size: 1.14rem;
}

@-webkit-keyframes shape-13 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(248deg);
            transform: translate3d(0, 0, 0) rotate(248deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(608deg);
            transform: translate3d(0, 0, 0) rotate(608deg);
  }
}

@keyframes shape-13 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(248deg);
            transform: translate3d(0, 0, 0) rotate(248deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(608deg);
            transform: translate3d(0, 0, 0) rotate(608deg);
  }
}

.shape-container--13 {
  -webkit-animation: shape-13 47s linear infinite;
          animation: shape-13 47s linear infinite;
}

.shape-container--13 .random-shape:after {
  margin: 4.7rem;
  font-size: 0.94rem;
}

@-webkit-keyframes shape-14 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(8deg);
            transform: translate3d(0, 0, 0) rotate(8deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(368deg);
            transform: translate3d(0, 0, 0) rotate(368deg);
  }
}

@keyframes shape-14 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(8deg);
            transform: translate3d(0, 0, 0) rotate(8deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(368deg);
            transform: translate3d(0, 0, 0) rotate(368deg);
  }
}

.shape-container--14 {
  -webkit-animation: shape-14 70s linear infinite;
          animation: shape-14 70s linear infinite;
}

.shape-container--14 .random-shape:after {
  margin: 10.7rem;
  font-size: 2.14rem;
}

@-webkit-keyframes shape-15 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(335deg);
            transform: translate3d(0, 0, 0) rotate(335deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(695deg);
            transform: translate3d(0, 0, 0) rotate(695deg);
  }
}

@keyframes shape-15 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(335deg);
            transform: translate3d(0, 0, 0) rotate(335deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(695deg);
            transform: translate3d(0, 0, 0) rotate(695deg);
  }
}

.shape-container--15 {
  -webkit-animation: shape-15 58s linear infinite;
          animation: shape-15 58s linear infinite;
}

.shape-container--15 .random-shape:after {
  margin: 3.7rem;
  font-size: 0.74rem;
}

@-webkit-keyframes shape-16 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(226deg);
            transform: translate3d(0, 0, 0) rotate(226deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(586deg);
            transform: translate3d(0, 0, 0) rotate(586deg);
  }
}

@keyframes shape-16 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(226deg);
            transform: translate3d(0, 0, 0) rotate(226deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(586deg);
            transform: translate3d(0, 0, 0) rotate(586deg);
  }
}

.shape-container--16 {
  -webkit-animation: shape-16 70s linear infinite;
          animation: shape-16 70s linear infinite;
}

.shape-container--16 .random-shape:after {
  margin: 7.7rem;
  font-size: 1.54rem;
}

@-webkit-keyframes shape-17 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(340deg);
            transform: translate3d(0, 0, 0) rotate(340deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(700deg);
            transform: translate3d(0, 0, 0) rotate(700deg);
  }
}

@keyframes shape-17 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(340deg);
            transform: translate3d(0, 0, 0) rotate(340deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(700deg);
            transform: translate3d(0, 0, 0) rotate(700deg);
  }
}

.shape-container--17 {
  -webkit-animation: shape-17 63s linear infinite;
          animation: shape-17 63s linear infinite;
}

.shape-container--17 .random-shape:after {
  margin: 9.7rem;
  font-size: 1.94rem;
}

@-webkit-keyframes shape-18 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(219deg);
            transform: translate3d(0, 0, 0) rotate(219deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(579deg);
            transform: translate3d(0, 0, 0) rotate(579deg);
  }
}

@keyframes shape-18 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(219deg);
            transform: translate3d(0, 0, 0) rotate(219deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(579deg);
            transform: translate3d(0, 0, 0) rotate(579deg);
  }
}

.shape-container--18 {
  -webkit-animation: shape-18 57s linear infinite;
          animation: shape-18 57s linear infinite;
}

.shape-container--18 .random-shape:after {
  margin: 8.7rem;
  font-size: 1.74rem;
}

@-webkit-keyframes shape-19 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(284deg);
            transform: translate3d(0, 0, 0) rotate(284deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(644deg);
            transform: translate3d(0, 0, 0) rotate(644deg);
  }
}

@keyframes shape-19 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(284deg);
            transform: translate3d(0, 0, 0) rotate(284deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(644deg);
            transform: translate3d(0, 0, 0) rotate(644deg);
  }
}

.shape-container--19 {
  -webkit-animation: shape-19 47s linear infinite;
          animation: shape-19 47s linear infinite;
}

.shape-container--19 .random-shape:after {
  margin: 4.7rem;
  font-size: 0.94rem;
}

@-webkit-keyframes shape-20 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(308deg);
            transform: translate3d(0, 0, 0) rotate(308deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(668deg);
            transform: translate3d(0, 0, 0) rotate(668deg);
  }
}

@keyframes shape-20 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(308deg);
            transform: translate3d(0, 0, 0) rotate(308deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(668deg);
            transform: translate3d(0, 0, 0) rotate(668deg);
  }
}

.shape-container--20 {
  -webkit-animation: shape-20 68s linear infinite;
          animation: shape-20 68s linear infinite;
}

.shape-container--20 .random-shape:after {
  margin: 7.7rem;
  font-size: 1.54rem;
}

@-webkit-keyframes shape-21 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(167deg);
            transform: translate3d(0, 0, 0) rotate(167deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(527deg);
            transform: translate3d(0, 0, 0) rotate(527deg);
  }
}

@keyframes shape-21 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(167deg);
            transform: translate3d(0, 0, 0) rotate(167deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(527deg);
            transform: translate3d(0, 0, 0) rotate(527deg);
  }
}

.shape-container--21 {
  -webkit-animation: shape-21 52s linear infinite;
          animation: shape-21 52s linear infinite;
}

.shape-container--21 .random-shape:after {
  margin: 4.7rem;
  font-size: 0.94rem;
}

@-webkit-keyframes shape-22 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(271deg);
            transform: translate3d(0, 0, 0) rotate(271deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(631deg);
            transform: translate3d(0, 0, 0) rotate(631deg);
  }
}

@keyframes shape-22 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(271deg);
            transform: translate3d(0, 0, 0) rotate(271deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(631deg);
            transform: translate3d(0, 0, 0) rotate(631deg);
  }
}

.shape-container--22 {
  -webkit-animation: shape-22 43s linear infinite;
          animation: shape-22 43s linear infinite;
}

.shape-container--22 .random-shape:after {
  margin: 6.7rem;
  font-size: 1.34rem;
}

@-webkit-keyframes shape-23 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(201deg);
            transform: translate3d(0, 0, 0) rotate(201deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(561deg);
            transform: translate3d(0, 0, 0) rotate(561deg);
  }
}

@keyframes shape-23 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(201deg);
            transform: translate3d(0, 0, 0) rotate(201deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(561deg);
            transform: translate3d(0, 0, 0) rotate(561deg);
  }
}

.shape-container--23 {
  -webkit-animation: shape-23 68s linear infinite;
          animation: shape-23 68s linear infinite;
}

.shape-container--23 .random-shape:after {
  margin: 4.7rem;
  font-size: 0.94rem;
}

@-webkit-keyframes shape-24 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(248deg);
            transform: translate3d(0, 0, 0) rotate(248deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(608deg);
            transform: translate3d(0, 0, 0) rotate(608deg);
  }
}

@keyframes shape-24 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(248deg);
            transform: translate3d(0, 0, 0) rotate(248deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(608deg);
            transform: translate3d(0, 0, 0) rotate(608deg);
  }
}

.shape-container--24 {
  -webkit-animation: shape-24 56s linear infinite;
          animation: shape-24 56s linear infinite;
}

.shape-container--24 .random-shape:after {
  margin: 8.7rem;
  font-size: 1.74rem;
}

@-webkit-keyframes shape-25 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(119deg);
            transform: translate3d(0, 0, 0) rotate(119deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(479deg);
            transform: translate3d(0, 0, 0) rotate(479deg);
  }
}

@keyframes shape-25 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(119deg);
            transform: translate3d(0, 0, 0) rotate(119deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(479deg);
            transform: translate3d(0, 0, 0) rotate(479deg);
  }
}

.shape-container--25 {
  -webkit-animation: shape-25 64s linear infinite;
          animation: shape-25 64s linear infinite;
}

.shape-container--25 .random-shape:after {
  margin: 3.7rem;
  font-size: 0.74rem;
}

@-webkit-keyframes shape-26 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(346deg);
            transform: translate3d(0, 0, 0) rotate(346deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(706deg);
            transform: translate3d(0, 0, 0) rotate(706deg);
  }
}

@keyframes shape-26 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(346deg);
            transform: translate3d(0, 0, 0) rotate(346deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(706deg);
            transform: translate3d(0, 0, 0) rotate(706deg);
  }
}

.shape-container--26 {
  -webkit-animation: shape-26 47s linear infinite;
          animation: shape-26 47s linear infinite;
}

.shape-container--26 .random-shape:after {
  margin: 1.7rem;
  font-size: 0.34rem;
}

@-webkit-keyframes shape-27 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(179deg);
            transform: translate3d(0, 0, 0) rotate(179deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(539deg);
            transform: translate3d(0, 0, 0) rotate(539deg);
  }
}

@keyframes shape-27 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(179deg);
            transform: translate3d(0, 0, 0) rotate(179deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(539deg);
            transform: translate3d(0, 0, 0) rotate(539deg);
  }
}

.shape-container--27 {
  -webkit-animation: shape-27 52s linear infinite;
          animation: shape-27 52s linear infinite;
}

.shape-container--27 .random-shape:after {
  margin: 4.7rem;
  font-size: 0.94rem;
}

@-webkit-keyframes shape-28 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(347deg);
            transform: translate3d(0, 0, 0) rotate(347deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(707deg);
            transform: translate3d(0, 0, 0) rotate(707deg);
  }
}

@keyframes shape-28 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(347deg);
            transform: translate3d(0, 0, 0) rotate(347deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(707deg);
            transform: translate3d(0, 0, 0) rotate(707deg);
  }
}

.shape-container--28 {
  -webkit-animation: shape-28 49s linear infinite;
          animation: shape-28 49s linear infinite;
}

.shape-container--28 .random-shape:after {
  margin: 1.7rem;
  font-size: 0.34rem;
}

@-webkit-keyframes shape-29 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(170deg);
            transform: translate3d(0, 0, 0) rotate(170deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(530deg);
            transform: translate3d(0, 0, 0) rotate(530deg);
  }
}

@keyframes shape-29 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(170deg);
            transform: translate3d(0, 0, 0) rotate(170deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(530deg);
            transform: translate3d(0, 0, 0) rotate(530deg);
  }
}

.shape-container--29 {
  -webkit-animation: shape-29 42s linear infinite;
          animation: shape-29 42s linear infinite;
}

.shape-container--29 .random-shape:after {
  margin: 10.7rem;
  font-size: 2.14rem;
}

@-webkit-keyframes shape-30 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(29deg);
            transform: translate3d(0, 0, 0) rotate(29deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(389deg);
            transform: translate3d(0, 0, 0) rotate(389deg);
  }
}

@keyframes shape-30 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(29deg);
            transform: translate3d(0, 0, 0) rotate(29deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(389deg);
            transform: translate3d(0, 0, 0) rotate(389deg);
  }
}

.shape-container--30 {
  -webkit-animation: shape-30 58s linear infinite;
          animation: shape-30 58s linear infinite;
}

.shape-container--30 .random-shape:after {
  margin: 4.7rem;
  font-size: 0.94rem;
}

@-webkit-keyframes shape-31 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(145deg);
            transform: translate3d(0, 0, 0) rotate(145deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(505deg);
            transform: translate3d(0, 0, 0) rotate(505deg);
  }
}

@keyframes shape-31 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(145deg);
            transform: translate3d(0, 0, 0) rotate(145deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(505deg);
            transform: translate3d(0, 0, 0) rotate(505deg);
  }
}

.shape-container--31 {
  -webkit-animation: shape-31 43s linear infinite;
          animation: shape-31 43s linear infinite;
}

.shape-container--31 .random-shape:after {
  margin: 4.7rem;
  font-size: 0.94rem;
}

@-webkit-keyframes shape-32 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(265deg);
            transform: translate3d(0, 0, 0) rotate(265deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(625deg);
            transform: translate3d(0, 0, 0) rotate(625deg);
  }
}

@keyframes shape-32 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(265deg);
            transform: translate3d(0, 0, 0) rotate(265deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(625deg);
            transform: translate3d(0, 0, 0) rotate(625deg);
  }
}

.shape-container--32 {
  -webkit-animation: shape-32 44s linear infinite;
          animation: shape-32 44s linear infinite;
}

.shape-container--32 .random-shape:after {
  margin: 8.7rem;
  font-size: 1.74rem;
}

@-webkit-keyframes shape-33 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(313deg);
            transform: translate3d(0, 0, 0) rotate(313deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(673deg);
            transform: translate3d(0, 0, 0) rotate(673deg);
  }
}

@keyframes shape-33 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(313deg);
            transform: translate3d(0, 0, 0) rotate(313deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(673deg);
            transform: translate3d(0, 0, 0) rotate(673deg);
  }
}

.shape-container--33 {
  -webkit-animation: shape-33 50s linear infinite;
          animation: shape-33 50s linear infinite;
}

.shape-container--33 .random-shape:after {
  margin: 10.7rem;
  font-size: 2.14rem;
}

@-webkit-keyframes shape-34 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(231deg);
            transform: translate3d(0, 0, 0) rotate(231deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(591deg);
            transform: translate3d(0, 0, 0) rotate(591deg);
  }
}

@keyframes shape-34 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(231deg);
            transform: translate3d(0, 0, 0) rotate(231deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(591deg);
            transform: translate3d(0, 0, 0) rotate(591deg);
  }
}

.shape-container--34 {
  -webkit-animation: shape-34 62s linear infinite;
          animation: shape-34 62s linear infinite;
}

.shape-container--34 .random-shape:after {
  margin: 8.7rem;
  font-size: 1.74rem;
}

@-webkit-keyframes shape-35 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(234deg);
            transform: translate3d(0, 0, 0) rotate(234deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(594deg);
            transform: translate3d(0, 0, 0) rotate(594deg);
  }
}

@keyframes shape-35 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(234deg);
            transform: translate3d(0, 0, 0) rotate(234deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(594deg);
            transform: translate3d(0, 0, 0) rotate(594deg);
  }
}

.shape-container--35 {
  -webkit-animation: shape-35 62s linear infinite;
          animation: shape-35 62s linear infinite;
}

.shape-container--35 .random-shape:after {
  margin: 7.7rem;
  font-size: 1.54rem;
}

@-webkit-keyframes shape-36 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(160deg);
            transform: translate3d(0, 0, 0) rotate(160deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(520deg);
            transform: translate3d(0, 0, 0) rotate(520deg);
  }
}

@keyframes shape-36 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(160deg);
            transform: translate3d(0, 0, 0) rotate(160deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(520deg);
            transform: translate3d(0, 0, 0) rotate(520deg);
  }
}

.shape-container--36 {
  -webkit-animation: shape-36 49s linear infinite;
          animation: shape-36 49s linear infinite;
}

.shape-container--36 .random-shape:after {
  margin: 6.7rem;
  font-size: 1.34rem;
}

@-webkit-keyframes shape-37 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(74deg);
            transform: translate3d(0, 0, 0) rotate(74deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(434deg);
            transform: translate3d(0, 0, 0) rotate(434deg);
  }
}

@keyframes shape-37 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(74deg);
            transform: translate3d(0, 0, 0) rotate(74deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(434deg);
            transform: translate3d(0, 0, 0) rotate(434deg);
  }
}

.shape-container--37 {
  -webkit-animation: shape-37 67s linear infinite;
          animation: shape-37 67s linear infinite;
}

.shape-container--37 .random-shape:after {
  margin: 2.7rem;
  font-size: 0.54rem;
}

@-webkit-keyframes shape-38 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(38deg);
            transform: translate3d(0, 0, 0) rotate(38deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(398deg);
            transform: translate3d(0, 0, 0) rotate(398deg);
  }
}

@keyframes shape-38 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(38deg);
            transform: translate3d(0, 0, 0) rotate(38deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(398deg);
            transform: translate3d(0, 0, 0) rotate(398deg);
  }
}

.shape-container--38 {
  -webkit-animation: shape-38 64s linear infinite;
          animation: shape-38 64s linear infinite;
}

.shape-container--38 .random-shape:after {
  margin: 8.7rem;
  font-size: 1.74rem;
}

@-webkit-keyframes shape-39 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(34deg);
            transform: translate3d(0, 0, 0) rotate(34deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(394deg);
            transform: translate3d(0, 0, 0) rotate(394deg);
  }
}

@keyframes shape-39 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(34deg);
            transform: translate3d(0, 0, 0) rotate(34deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(394deg);
            transform: translate3d(0, 0, 0) rotate(394deg);
  }
}

.shape-container--39 {
  -webkit-animation: shape-39 70s linear infinite;
          animation: shape-39 70s linear infinite;
}

.shape-container--39 .random-shape:after {
  margin: 8.7rem;
  font-size: 1.74rem;
}

@-webkit-keyframes shape-40 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(297deg);
            transform: translate3d(0, 0, 0) rotate(297deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(657deg);
            transform: translate3d(0, 0, 0) rotate(657deg);
  }
}

@keyframes shape-40 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(297deg);
            transform: translate3d(0, 0, 0) rotate(297deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(657deg);
            transform: translate3d(0, 0, 0) rotate(657deg);
  }
}

.shape-container--40 {
  -webkit-animation: shape-40 68s linear infinite;
          animation: shape-40 68s linear infinite;
}

.shape-container--40 .random-shape:after {
  margin: 3.7rem;
  font-size: 0.74rem;
}

/*
* Remove duration for all unknown animation when a user
* requests a reduced animation experience
* https://css-tricks.com/revisiting-prefers-reduced-motion/
*/
@media screen and (prefers-reduced-motion: reduce), (update: slow) {
  * {
    -webkit-animation-duration: 0.001ms !important;
            animation-duration: 0.001ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.001ms !important;
            transition-duration: 0.001ms !important;
  }
}

/*      Media queries 🧟‍♀️      */
/*
* iPad 1, 2, Mini and Air
* Portrait and Landscape
*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .container {
    padding: 0 6rem;
  }
  .contact {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 4rem;
  }
  h1 {
    font-size: 3.6rem;
  }
  h2,
  h2 a {
    font-size: 1.6rem;
    line-height: 2.6rem;
  }
  p {
    font-size: 1.2rem;
    padding-top: 4rem;
    margin-bottom: 0;
  }
}

/*
* iPhone 6, 6S, 7 and 8
* Portrait and Landscape
*/
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .container {
    padding: 2.2rem;
  }
  h1 {
    font-size: 2rem;
  }
  h2,
  h2 a {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
  p {
    font-size: 1.2rem;
    padding-top: 4rem;
    margin-bottom: 0;
  }
}
/*# sourceMappingURL=extra-zazz.css.map */