@charset "UTF-8";
/*
* Styles for Background Funfetti✨
* Thank you @sengokukun
* https://codepen.io/sengoku/pen/LYVzVjp
*/
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
.container {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 6rem;
}

.container .inner-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 0.2fr 1fr 0.5fr 0.2fr auto;
      grid-template-rows: 0.2fr 1fr 0.5fr 0.2fr auto;
  width: 100%;
  margin: 0 auto;
}

.shape {
  overflow: clip;
  position: absolute;
  top: 0;
  height: 90%;
  width: 90%;
  opacity: 0.7;
  z-index: -1;
}

.random-shape:after {
  content: var(--content, "✨");
}

.wavy {
  --content: '👋';
}

.genie {
  --content: '🧞‍♀️';
}

@-webkit-keyframes shape-1 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(237deg);
            transform: translate3d(0, 0, 0) rotate(237deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(597deg);
            transform: translate3d(0, 0, 0) rotate(597deg);
  }
}

@keyframes shape-1 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(237deg);
            transform: translate3d(0, 0, 0) rotate(237deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(597deg);
            transform: translate3d(0, 0, 0) rotate(597deg);
  }
}

.shape-container--1 {
  -webkit-animation: shape-1 41s linear infinite;
          animation: shape-1 41s linear infinite;
}

.shape-container--1 .random-shape:after {
  margin: 2.7rem;
  color: #FF94A1;
  font-size: 0.54rem;
}

@-webkit-keyframes shape-2 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(332deg);
            transform: translate3d(0, 0, 0) rotate(332deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(692deg);
            transform: translate3d(0, 0, 0) rotate(692deg);
  }
}

@keyframes shape-2 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(332deg);
            transform: translate3d(0, 0, 0) rotate(332deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(692deg);
            transform: translate3d(0, 0, 0) rotate(692deg);
  }
}

.shape-container--2 {
  -webkit-animation: shape-2 46s linear infinite;
          animation: shape-2 46s linear infinite;
}

.shape-container--2 .random-shape:after {
  margin: 9.7rem;
  color: #CDA1FF;
  font-size: 1.94rem;
}

@-webkit-keyframes shape-3 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(224deg);
            transform: translate3d(0, 0, 0) rotate(224deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(584deg);
            transform: translate3d(0, 0, 0) rotate(584deg);
  }
}

@keyframes shape-3 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(224deg);
            transform: translate3d(0, 0, 0) rotate(224deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(584deg);
            transform: translate3d(0, 0, 0) rotate(584deg);
  }
}

.shape-container--3 {
  -webkit-animation: shape-3 63s linear infinite;
          animation: shape-3 63s linear infinite;
}

.shape-container--3 .random-shape:after {
  margin: 6.7rem;
  color: #FF94A1;
  font-size: 1.34rem;
}

@-webkit-keyframes shape-4 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(82deg);
            transform: translate3d(0, 0, 0) rotate(82deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(442deg);
            transform: translate3d(0, 0, 0) rotate(442deg);
  }
}

@keyframes shape-4 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(82deg);
            transform: translate3d(0, 0, 0) rotate(82deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(442deg);
            transform: translate3d(0, 0, 0) rotate(442deg);
  }
}

.shape-container--4 {
  -webkit-animation: shape-4 57s linear infinite;
          animation: shape-4 57s linear infinite;
}

.shape-container--4 .random-shape:after {
  margin: 2.7rem;
  color: #CDA1FF;
  font-size: 0.54rem;
}

@-webkit-keyframes shape-5 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(304deg);
            transform: translate3d(0, 0, 0) rotate(304deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(664deg);
            transform: translate3d(0, 0, 0) rotate(664deg);
  }
}

@keyframes shape-5 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(304deg);
            transform: translate3d(0, 0, 0) rotate(304deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(664deg);
            transform: translate3d(0, 0, 0) rotate(664deg);
  }
}

.shape-container--5 {
  -webkit-animation: shape-5 47s linear infinite;
          animation: shape-5 47s linear infinite;
}

.shape-container--5 .random-shape:after {
  margin: 2.7rem;
  color: #45FFDC;
  font-size: 0.54rem;
}

@-webkit-keyframes shape-6 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(112deg);
            transform: translate3d(0, 0, 0) rotate(112deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(472deg);
            transform: translate3d(0, 0, 0) rotate(472deg);
  }
}

@keyframes shape-6 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(112deg);
            transform: translate3d(0, 0, 0) rotate(112deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(472deg);
            transform: translate3d(0, 0, 0) rotate(472deg);
  }
}

.shape-container--6 {
  -webkit-animation: shape-6 64s linear infinite;
          animation: shape-6 64s linear infinite;
}

.shape-container--6 .random-shape:after {
  margin: 2.7rem;
  color: #45FFDC;
  font-size: 0.54rem;
}

@-webkit-keyframes shape-7 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(47deg);
            transform: translate3d(0, 0, 0) rotate(47deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(407deg);
            transform: translate3d(0, 0, 0) rotate(407deg);
  }
}

@keyframes shape-7 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(47deg);
            transform: translate3d(0, 0, 0) rotate(47deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(407deg);
            transform: translate3d(0, 0, 0) rotate(407deg);
  }
}

.shape-container--7 {
  -webkit-animation: shape-7 70s linear infinite;
          animation: shape-7 70s linear infinite;
}

.shape-container--7 .random-shape:after {
  margin: 9.7rem;
  color: #9300C9;
  font-size: 1.94rem;
}

@-webkit-keyframes shape-8 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(330deg);
            transform: translate3d(0, 0, 0) rotate(330deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(690deg);
            transform: translate3d(0, 0, 0) rotate(690deg);
  }
}

@keyframes shape-8 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(330deg);
            transform: translate3d(0, 0, 0) rotate(330deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(690deg);
            transform: translate3d(0, 0, 0) rotate(690deg);
  }
}

.shape-container--8 {
  -webkit-animation: shape-8 66s linear infinite;
          animation: shape-8 66s linear infinite;
}

.shape-container--8 .random-shape:after {
  margin: 8.7rem;
  color: #45FFDC;
  font-size: 1.74rem;
}

@-webkit-keyframes shape-9 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(192deg);
            transform: translate3d(0, 0, 0) rotate(192deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(552deg);
            transform: translate3d(0, 0, 0) rotate(552deg);
  }
}

@keyframes shape-9 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(192deg);
            transform: translate3d(0, 0, 0) rotate(192deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(552deg);
            transform: translate3d(0, 0, 0) rotate(552deg);
  }
}

.shape-container--9 {
  -webkit-animation: shape-9 59s linear infinite;
          animation: shape-9 59s linear infinite;
}

.shape-container--9 .random-shape:after {
  margin: 5.7rem;
  color: #BAFF00;
  font-size: 1.14rem;
}

@-webkit-keyframes shape-10 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(24deg);
            transform: translate3d(0, 0, 0) rotate(24deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(384deg);
            transform: translate3d(0, 0, 0) rotate(384deg);
  }
}

@keyframes shape-10 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(24deg);
            transform: translate3d(0, 0, 0) rotate(24deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(384deg);
            transform: translate3d(0, 0, 0) rotate(384deg);
  }
}

.shape-container--10 {
  -webkit-animation: shape-10 42s linear infinite;
          animation: shape-10 42s linear infinite;
}

.shape-container--10 .random-shape:after {
  margin: 1.7rem;
  color: #4800C0;
  font-size: 0.34rem;
}

@-webkit-keyframes shape-11 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(257deg);
            transform: translate3d(0, 0, 0) rotate(257deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(617deg);
            transform: translate3d(0, 0, 0) rotate(617deg);
  }
}

@keyframes shape-11 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(257deg);
            transform: translate3d(0, 0, 0) rotate(257deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(617deg);
            transform: translate3d(0, 0, 0) rotate(617deg);
  }
}

.shape-container--11 {
  -webkit-animation: shape-11 53s linear infinite;
          animation: shape-11 53s linear infinite;
}

.shape-container--11 .random-shape:after {
  margin: 9.7rem;
  color: #4800C0;
  font-size: 1.94rem;
}

@-webkit-keyframes shape-12 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(244deg);
            transform: translate3d(0, 0, 0) rotate(244deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(604deg);
            transform: translate3d(0, 0, 0) rotate(604deg);
  }
}

@keyframes shape-12 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(244deg);
            transform: translate3d(0, 0, 0) rotate(244deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(604deg);
            transform: translate3d(0, 0, 0) rotate(604deg);
  }
}

.shape-container--12 {
  -webkit-animation: shape-12 45s linear infinite;
          animation: shape-12 45s linear infinite;
}

.shape-container--12 .random-shape:after {
  margin: 10.7rem;
  color: #45FFDC;
  font-size: 2.14rem;
}

@-webkit-keyframes shape-13 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(123deg);
            transform: translate3d(0, 0, 0) rotate(123deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(483deg);
            transform: translate3d(0, 0, 0) rotate(483deg);
  }
}

@keyframes shape-13 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(123deg);
            transform: translate3d(0, 0, 0) rotate(123deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(483deg);
            transform: translate3d(0, 0, 0) rotate(483deg);
  }
}

.shape-container--13 {
  -webkit-animation: shape-13 70s linear infinite;
          animation: shape-13 70s linear infinite;
}

.shape-container--13 .random-shape:after {
  margin: 10.7rem;
  color: #45FFDC;
  font-size: 2.14rem;
}

@-webkit-keyframes shape-14 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(280deg);
            transform: translate3d(0, 0, 0) rotate(280deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(640deg);
            transform: translate3d(0, 0, 0) rotate(640deg);
  }
}

@keyframes shape-14 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(280deg);
            transform: translate3d(0, 0, 0) rotate(280deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(640deg);
            transform: translate3d(0, 0, 0) rotate(640deg);
  }
}

.shape-container--14 {
  -webkit-animation: shape-14 52s linear infinite;
          animation: shape-14 52s linear infinite;
}

.shape-container--14 .random-shape:after {
  margin: 3.7rem;
  color: #45FFDC;
  font-size: 0.74rem;
}

@-webkit-keyframes shape-15 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(347deg);
            transform: translate3d(0, 0, 0) rotate(347deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(707deg);
            transform: translate3d(0, 0, 0) rotate(707deg);
  }
}

@keyframes shape-15 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(347deg);
            transform: translate3d(0, 0, 0) rotate(347deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(707deg);
            transform: translate3d(0, 0, 0) rotate(707deg);
  }
}

.shape-container--15 {
  -webkit-animation: shape-15 63s linear infinite;
          animation: shape-15 63s linear infinite;
}

.shape-container--15 .random-shape:after {
  margin: 8.7rem;
  color: #45FFDC;
  font-size: 1.74rem;
}

@-webkit-keyframes shape-16 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(169deg);
            transform: translate3d(0, 0, 0) rotate(169deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(529deg);
            transform: translate3d(0, 0, 0) rotate(529deg);
  }
}

@keyframes shape-16 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(169deg);
            transform: translate3d(0, 0, 0) rotate(169deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(529deg);
            transform: translate3d(0, 0, 0) rotate(529deg);
  }
}

.shape-container--16 {
  -webkit-animation: shape-16 56s linear infinite;
          animation: shape-16 56s linear infinite;
}

.shape-container--16 .random-shape:after {
  margin: 8.7rem;
  color: #4800C0;
  font-size: 1.74rem;
}

@-webkit-keyframes shape-17 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(246deg);
            transform: translate3d(0, 0, 0) rotate(246deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(606deg);
            transform: translate3d(0, 0, 0) rotate(606deg);
  }
}

@keyframes shape-17 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(246deg);
            transform: translate3d(0, 0, 0) rotate(246deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(606deg);
            transform: translate3d(0, 0, 0) rotate(606deg);
  }
}

.shape-container--17 {
  -webkit-animation: shape-17 54s linear infinite;
          animation: shape-17 54s linear infinite;
}

.shape-container--17 .random-shape:after {
  margin: 9.7rem;
  color: #4800C0;
  font-size: 1.94rem;
}

@-webkit-keyframes shape-18 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(195deg);
            transform: translate3d(0, 0, 0) rotate(195deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(555deg);
            transform: translate3d(0, 0, 0) rotate(555deg);
  }
}

@keyframes shape-18 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(195deg);
            transform: translate3d(0, 0, 0) rotate(195deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(555deg);
            transform: translate3d(0, 0, 0) rotate(555deg);
  }
}

.shape-container--18 {
  -webkit-animation: shape-18 70s linear infinite;
          animation: shape-18 70s linear infinite;
}

.shape-container--18 .random-shape:after {
  margin: 2.7rem;
  color: #FF94A1;
  font-size: 0.54rem;
}

@-webkit-keyframes shape-19 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(274deg);
            transform: translate3d(0, 0, 0) rotate(274deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(634deg);
            transform: translate3d(0, 0, 0) rotate(634deg);
  }
}

@keyframes shape-19 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(274deg);
            transform: translate3d(0, 0, 0) rotate(274deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(634deg);
            transform: translate3d(0, 0, 0) rotate(634deg);
  }
}

.shape-container--19 {
  -webkit-animation: shape-19 57s linear infinite;
          animation: shape-19 57s linear infinite;
}

.shape-container--19 .random-shape:after {
  margin: 10.7rem;
  color: #CDA1FF;
  font-size: 2.14rem;
}

@-webkit-keyframes shape-20 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(241deg);
            transform: translate3d(0, 0, 0) rotate(241deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(601deg);
            transform: translate3d(0, 0, 0) rotate(601deg);
  }
}

@keyframes shape-20 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(241deg);
            transform: translate3d(0, 0, 0) rotate(241deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(601deg);
            transform: translate3d(0, 0, 0) rotate(601deg);
  }
}

.shape-container--20 {
  -webkit-animation: shape-20 47s linear infinite;
          animation: shape-20 47s linear infinite;
}

.shape-container--20 .random-shape:after {
  margin: 4.7rem;
  color: #FF94A1;
  font-size: 0.94rem;
}

@-webkit-keyframes shape-21 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(270deg);
            transform: translate3d(0, 0, 0) rotate(270deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(630deg);
            transform: translate3d(0, 0, 0) rotate(630deg);
  }
}

@keyframes shape-21 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(270deg);
            transform: translate3d(0, 0, 0) rotate(270deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(630deg);
            transform: translate3d(0, 0, 0) rotate(630deg);
  }
}

.shape-container--21 {
  -webkit-animation: shape-21 48s linear infinite;
          animation: shape-21 48s linear infinite;
}

.shape-container--21 .random-shape:after {
  margin: 7.7rem;
  color: #FF94A1;
  font-size: 1.54rem;
}

@-webkit-keyframes shape-22 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(190deg);
            transform: translate3d(0, 0, 0) rotate(190deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(550deg);
            transform: translate3d(0, 0, 0) rotate(550deg);
  }
}

@keyframes shape-22 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(190deg);
            transform: translate3d(0, 0, 0) rotate(190deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(550deg);
            transform: translate3d(0, 0, 0) rotate(550deg);
  }
}

.shape-container--22 {
  -webkit-animation: shape-22 55s linear infinite;
          animation: shape-22 55s linear infinite;
}

.shape-container--22 .random-shape:after {
  margin: 4.7rem;
  color: #CDA1FF;
  font-size: 0.94rem;
}

@-webkit-keyframes shape-23 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(321deg);
            transform: translate3d(0, 0, 0) rotate(321deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(681deg);
            transform: translate3d(0, 0, 0) rotate(681deg);
  }
}

@keyframes shape-23 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(321deg);
            transform: translate3d(0, 0, 0) rotate(321deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(681deg);
            transform: translate3d(0, 0, 0) rotate(681deg);
  }
}

.shape-container--23 {
  -webkit-animation: shape-23 59s linear infinite;
          animation: shape-23 59s linear infinite;
}

.shape-container--23 .random-shape:after {
  margin: 1.7rem;
  color: #4800C0;
  font-size: 0.34rem;
}

@-webkit-keyframes shape-24 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(183deg);
            transform: translate3d(0, 0, 0) rotate(183deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(543deg);
            transform: translate3d(0, 0, 0) rotate(543deg);
  }
}

@keyframes shape-24 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(183deg);
            transform: translate3d(0, 0, 0) rotate(183deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(543deg);
            transform: translate3d(0, 0, 0) rotate(543deg);
  }
}

.shape-container--24 {
  -webkit-animation: shape-24 50s linear infinite;
          animation: shape-24 50s linear infinite;
}

.shape-container--24 .random-shape:after {
  margin: 7.7rem;
  color: #CDA1FF;
  font-size: 1.54rem;
}

@-webkit-keyframes shape-25 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(23deg);
            transform: translate3d(0, 0, 0) rotate(23deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(383deg);
            transform: translate3d(0, 0, 0) rotate(383deg);
  }
}

@keyframes shape-25 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(23deg);
            transform: translate3d(0, 0, 0) rotate(23deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(383deg);
            transform: translate3d(0, 0, 0) rotate(383deg);
  }
}

.shape-container--25 {
  -webkit-animation: shape-25 42s linear infinite;
          animation: shape-25 42s linear infinite;
}

.shape-container--25 .random-shape:after {
  margin: 10.7rem;
  color: #9300C9;
  font-size: 2.14rem;
}

@-webkit-keyframes shape-26 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(47deg);
            transform: translate3d(0, 0, 0) rotate(47deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(407deg);
            transform: translate3d(0, 0, 0) rotate(407deg);
  }
}

@keyframes shape-26 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(47deg);
            transform: translate3d(0, 0, 0) rotate(47deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(407deg);
            transform: translate3d(0, 0, 0) rotate(407deg);
  }
}

.shape-container--26 {
  -webkit-animation: shape-26 67s linear infinite;
          animation: shape-26 67s linear infinite;
}

.shape-container--26 .random-shape:after {
  margin: 3.7rem;
  color: #BAFF00;
  font-size: 0.74rem;
}

@-webkit-keyframes shape-27 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(214deg);
            transform: translate3d(0, 0, 0) rotate(214deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(574deg);
            transform: translate3d(0, 0, 0) rotate(574deg);
  }
}

@keyframes shape-27 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(214deg);
            transform: translate3d(0, 0, 0) rotate(214deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(574deg);
            transform: translate3d(0, 0, 0) rotate(574deg);
  }
}

.shape-container--27 {
  -webkit-animation: shape-27 63s linear infinite;
          animation: shape-27 63s linear infinite;
}

.shape-container--27 .random-shape:after {
  margin: 9.7rem;
  color: #4800C0;
  font-size: 1.94rem;
}

@-webkit-keyframes shape-28 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(25deg);
            transform: translate3d(0, 0, 0) rotate(25deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(385deg);
            transform: translate3d(0, 0, 0) rotate(385deg);
  }
}

@keyframes shape-28 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(25deg);
            transform: translate3d(0, 0, 0) rotate(25deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(385deg);
            transform: translate3d(0, 0, 0) rotate(385deg);
  }
}

.shape-container--28 {
  -webkit-animation: shape-28 63s linear infinite;
          animation: shape-28 63s linear infinite;
}

.shape-container--28 .random-shape:after {
  margin: 7.7rem;
  color: #BAFF00;
  font-size: 1.54rem;
}

@-webkit-keyframes shape-29 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(191deg);
            transform: translate3d(0, 0, 0) rotate(191deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(551deg);
            transform: translate3d(0, 0, 0) rotate(551deg);
  }
}

@keyframes shape-29 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(191deg);
            transform: translate3d(0, 0, 0) rotate(191deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(551deg);
            transform: translate3d(0, 0, 0) rotate(551deg);
  }
}

.shape-container--29 {
  -webkit-animation: shape-29 63s linear infinite;
          animation: shape-29 63s linear infinite;
}

.shape-container--29 .random-shape:after {
  margin: 9.7rem;
  color: #BAFF00;
  font-size: 1.94rem;
}

@-webkit-keyframes shape-30 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(271deg);
            transform: translate3d(0, 0, 0) rotate(271deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(631deg);
            transform: translate3d(0, 0, 0) rotate(631deg);
  }
}

@keyframes shape-30 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(271deg);
            transform: translate3d(0, 0, 0) rotate(271deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(631deg);
            transform: translate3d(0, 0, 0) rotate(631deg);
  }
}

.shape-container--30 {
  -webkit-animation: shape-30 58s linear infinite;
          animation: shape-30 58s linear infinite;
}

.shape-container--30 .random-shape:after {
  margin: 8.7rem;
  color: #45FFDC;
  font-size: 1.74rem;
}

@-webkit-keyframes shape-31 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(42deg);
            transform: translate3d(0, 0, 0) rotate(42deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(402deg);
            transform: translate3d(0, 0, 0) rotate(402deg);
  }
}

@keyframes shape-31 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(42deg);
            transform: translate3d(0, 0, 0) rotate(42deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(402deg);
            transform: translate3d(0, 0, 0) rotate(402deg);
  }
}

.shape-container--31 {
  -webkit-animation: shape-31 57s linear infinite;
          animation: shape-31 57s linear infinite;
}

.shape-container--31 .random-shape:after {
  margin: 6.7rem;
  color: #45FFDC;
  font-size: 1.34rem;
}

@-webkit-keyframes shape-32 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(180deg);
            transform: translate3d(0, 0, 0) rotate(180deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(540deg);
            transform: translate3d(0, 0, 0) rotate(540deg);
  }
}

@keyframes shape-32 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(180deg);
            transform: translate3d(0, 0, 0) rotate(180deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(540deg);
            transform: translate3d(0, 0, 0) rotate(540deg);
  }
}

.shape-container--32 {
  -webkit-animation: shape-32 70s linear infinite;
          animation: shape-32 70s linear infinite;
}

.shape-container--32 .random-shape:after {
  margin: 7.7rem;
  color: #9300C9;
  font-size: 1.54rem;
}

@-webkit-keyframes shape-33 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(270deg);
            transform: translate3d(0, 0, 0) rotate(270deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(630deg);
            transform: translate3d(0, 0, 0) rotate(630deg);
  }
}

@keyframes shape-33 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(270deg);
            transform: translate3d(0, 0, 0) rotate(270deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(630deg);
            transform: translate3d(0, 0, 0) rotate(630deg);
  }
}

.shape-container--33 {
  -webkit-animation: shape-33 60s linear infinite;
          animation: shape-33 60s linear infinite;
}

.shape-container--33 .random-shape:after {
  margin: 5.7rem;
  color: #BAFF00;
  font-size: 1.14rem;
}

@-webkit-keyframes shape-34 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(113deg);
            transform: translate3d(0, 0, 0) rotate(113deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(473deg);
            transform: translate3d(0, 0, 0) rotate(473deg);
  }
}

@keyframes shape-34 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(113deg);
            transform: translate3d(0, 0, 0) rotate(113deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(473deg);
            transform: translate3d(0, 0, 0) rotate(473deg);
  }
}

.shape-container--34 {
  -webkit-animation: shape-34 70s linear infinite;
          animation: shape-34 70s linear infinite;
}

.shape-container--34 .random-shape:after {
  margin: 2.7rem;
  color: #45FFDC;
  font-size: 0.54rem;
}

@-webkit-keyframes shape-35 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(168deg);
            transform: translate3d(0, 0, 0) rotate(168deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(528deg);
            transform: translate3d(0, 0, 0) rotate(528deg);
  }
}

@keyframes shape-35 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(168deg);
            transform: translate3d(0, 0, 0) rotate(168deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(528deg);
            transform: translate3d(0, 0, 0) rotate(528deg);
  }
}

.shape-container--35 {
  -webkit-animation: shape-35 69s linear infinite;
          animation: shape-35 69s linear infinite;
}

.shape-container--35 .random-shape:after {
  margin: 8.7rem;
  color: #4800C0;
  font-size: 1.74rem;
}

@-webkit-keyframes shape-36 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(73deg);
            transform: translate3d(0, 0, 0) rotate(73deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(433deg);
            transform: translate3d(0, 0, 0) rotate(433deg);
  }
}

@keyframes shape-36 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(73deg);
            transform: translate3d(0, 0, 0) rotate(73deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(433deg);
            transform: translate3d(0, 0, 0) rotate(433deg);
  }
}

.shape-container--36 {
  -webkit-animation: shape-36 43s linear infinite;
          animation: shape-36 43s linear infinite;
}

.shape-container--36 .random-shape:after {
  margin: 10.7rem;
  color: #4800C0;
  font-size: 2.14rem;
}

@-webkit-keyframes shape-37 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(247deg);
            transform: translate3d(0, 0, 0) rotate(247deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(607deg);
            transform: translate3d(0, 0, 0) rotate(607deg);
  }
}

@keyframes shape-37 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(247deg);
            transform: translate3d(0, 0, 0) rotate(247deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(607deg);
            transform: translate3d(0, 0, 0) rotate(607deg);
  }
}

.shape-container--37 {
  -webkit-animation: shape-37 70s linear infinite;
          animation: shape-37 70s linear infinite;
}

.shape-container--37 .random-shape:after {
  margin: 5.7rem;
  color: #FF94A1;
  font-size: 1.14rem;
}

@-webkit-keyframes shape-38 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(186deg);
            transform: translate3d(0, 0, 0) rotate(186deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(546deg);
            transform: translate3d(0, 0, 0) rotate(546deg);
  }
}

@keyframes shape-38 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(186deg);
            transform: translate3d(0, 0, 0) rotate(186deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(546deg);
            transform: translate3d(0, 0, 0) rotate(546deg);
  }
}

.shape-container--38 {
  -webkit-animation: shape-38 47s linear infinite;
          animation: shape-38 47s linear infinite;
}

.shape-container--38 .random-shape:after {
  margin: 1.7rem;
  color: #9300C9;
  font-size: 0.34rem;
}

@-webkit-keyframes shape-39 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(256deg);
            transform: translate3d(0, 0, 0) rotate(256deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(616deg);
            transform: translate3d(0, 0, 0) rotate(616deg);
  }
}

@keyframes shape-39 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(256deg);
            transform: translate3d(0, 0, 0) rotate(256deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(616deg);
            transform: translate3d(0, 0, 0) rotate(616deg);
  }
}

.shape-container--39 {
  -webkit-animation: shape-39 62s linear infinite;
          animation: shape-39 62s linear infinite;
}

.shape-container--39 .random-shape:after {
  margin: 7.7rem;
  color: #CDA1FF;
  font-size: 1.54rem;
}

@-webkit-keyframes shape-40 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(209deg);
            transform: translate3d(0, 0, 0) rotate(209deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(569deg);
            transform: translate3d(0, 0, 0) rotate(569deg);
  }
}

@keyframes shape-40 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(209deg);
            transform: translate3d(0, 0, 0) rotate(209deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(569deg);
            transform: translate3d(0, 0, 0) rotate(569deg);
  }
}

.shape-container--40 {
  -webkit-animation: shape-40 59s linear infinite;
          animation: shape-40 59s linear infinite;
}

.shape-container--40 .random-shape:after {
  margin: 5.7rem;
  color: #BAFF00;
  font-size: 1.14rem;
}
/*# sourceMappingURL=extra-zazz.css.map */