/*
* Styles for Background Funfetti✨
* Thank you @sengokukun
* https://codepen.io/sengoku/pen/LYVzVjp
*/

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

.container {
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 6rem;

  .inner-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1fr 0.5fr 0.2fr auto;
    width: 100%;
    margin: 0 auto;
  }
}

.shape {
  overflow: clip;
  position: absolute;
  top: 0;
  width: 90%;
  opacity: 0.7;
  z-index: -1;
}

.random-shape:after {
  font-family: FontAwesome;
  content: "\f04d";
}

$circle-size: 100px;
$shape-count: 40;

$colors:
#45FFDC,
#BAFF00,
#FF94A1,
#CDA1FF,
#4800C0,
#9300C9;

$shapes:
  '\f111', // fa-circle
  '\f10c', // fa-circle-o
  '\f1db', // fa-circle-thin
  '\f068', // fa-minus
  '\f04b', // fa-play (triangle)
  '\f04d'; // fa-stop (square)

@for $i from 1 through $shape-count {
  $shape-size: 0.7 + random(10);

  $rotation: random(360);
  $speed: 40 + random(30);
  $color-key: random(length($colors));
  $shape-color: nth($colors, $color-key);
  $shape-key: random(length($shapes));
  $shape-type: nth($shapes, $shape-key);
  $text: random(10);

  @keyframes shape-#{$i} {
    0% {
      transform: translate3d(0, 0, 0) rotate(#{$rotation + 0}deg);
    }

    100% {
      transform: translate3d(0, 0, 0) rotate(#{$rotation + 360}deg);
    }
  }

  .shape-container--#{$i} {
    animation: shape-#{$i} #{$speed}s linear infinite;

    .random-shape:after {
      margin: #{$shape-size}rem;
      color: $shape-color;
      font-size: #{$shape-size * 0.2}rem;
      content: $shape-type;
    }
  }
}
