// @import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

.container {
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 4rem 10rem 2rem;
  // padding-top: 4rem;
  // padding-bottom: 2rem;
  flex: 1 0 auto;

  .inner-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1fr 0.5fr 0.2fr auto;
    width: 100%;
    margin: 0 auto;
  }
}

/*      Nav links      */
.contact {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 1rem;

  a {
    position: relative;
    text-decoration: none;
    font-family: inherit;
    font-weight: 400;
    font-size: 1.2rem;
    padding: 10px 0; // tightens "button" size
    color: var(--dark);
    cursor: url('../images/flex-streamline-icon-interface-cursor-hand@26x26.svg'), auto;
  }

  .portfolio { background: linear-gradient(to bottom, var(--crackle) 0%, var(--crackle) 100%); }
  .resume { background: linear-gradient(to bottom, var(--pizzazz) 0%, var(--pizzazz) 100%); }
  .linkedin { background: linear-gradient(to bottom, var(--snap) 0%, var(--snap) 100%); }
  .email { background: linear-gradient(to bottom, var(--highlight) 0%, var(--highlight) 100%); }

  .portfolio,
  .resume,
  .linkedin,
  .email {
    background-position: 100% 0;
    background-repeat: repeat-x;
    background-size: 4px 4px;
    text-decoration: none;
    transition: background-size .2s;

    &:hover { background-size: 4px 50px; }
  }

  a + a { margin-left: 42px; }
}

/*      CTAs      */
h2 {
  a {
  font-size: 2rem;
  font-weight: 500;
  line-height: 3rem;
  text-decoration: none;
  color: var(--dark);
  padding: 6px 0;
  margin-left: 0;
  cursor: url('../images/flex-streamline-icon-interface-cursor-hand@26x26.svg'), auto;

  // Handle these for mobile
  // &:visited {
  //   color: magenta;
  // }

  // &:active {
  //   color: lime;
  // }

  // &:focus {
  //   color: coral;
  // }
  }

  .work {
    background: linear-gradient(to bottom,
        var(--crackle) 0%,
        var(--crackle) 100%);
  }

  .talk {
    background: linear-gradient(to bottom,
        var(--highlight) 0%,
        var(--highlight) 100%);
  }

  .work,
  .talk {
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 4px 4px;
    transition: background-size .2s;

    &:hover {
      background-size: 4px 50px;
      // color: var(--light);
    }
  }
}

/*
* Styles for Background Funfetti✨
* Thank you @sengokukun
* https://codepen.io/sengoku/pen/LYVzVjp
*/
.shape {
  overflow: clip;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0.7;
  z-index: -1;
}

.random-shape:after {
  // font-family: FontAwesome;
  // content: "\f04d";
  content: var(--content, '✨');
}

.wavy       { --content: '👋'; }
.genie      { --content: '🧞‍♀️'; }
.adventure  { --content: '⚔️'; }
.scifi      { --content: '🛸'; }
.stitch     { --content: '🧵'; }

$circle-size: 100px;
$shape-count: 40;

// $colors:
// #45FFDC,
// #BAFF00,
// #FF94A1,
// #CDA1FF,
// #4800C0,
// #9300C9;

// $shapes:
//   '\f111', // fa-circle
//   '\f10c', // fa-circle-o
//   '\f1db', // fa-circle-thin
//   '\f068', // fa-minus
//   '\f04b', // fa-play (triangle)
//   '\f04d'; // fa-stop (square)

@for $i from 1 through $shape-count {
  $shape-size: 0.7 + random(10);

  $rotation: random(360);
  $speed: 40 + random(30);
  // $color-key: random(length($colors));
  // $shape-color: nth($colors, $color-key);
  // $shape-key: random(length($shapes));
  // $shape-type: nth($shapes, $shape-key);
  $text: random(10);

  @keyframes shape-#{$i} {
    0% {
      transform: translate3d(0, 0, 0) rotate(#{$rotation + 0}deg);
    }

    100% {
      transform: translate3d(0, 0, 0) rotate(#{$rotation + 360}deg);
    }
  }

  .shape-container--#{$i} {
    animation: shape-#{$i} #{$speed}s linear infinite;

    .random-shape:after {
      margin: #{$shape-size}rem;
      // color: $shape-color;
      font-size: #{$shape-size * 0.2}rem;
      // content: $shape-type;
    }
  }
}

/*
* Remove duration for all unknown animation when a user
* requests a reduced animation experience
* https://css-tricks.com/revisiting-prefers-reduced-motion/
*/
@media screen and (prefers-reduced-motion: reduce), (update: slow) {
  * {
    animation-duration: 0.001ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.001ms !important;
  }
}

/*      Media queries 🧟‍♀️      */
/*
* iPad 1, 2, Mini and Air
* Portrait and Landscape
*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .container { padding: 0 6rem; }

  .contact {
    justify-content: center;
    margin-bottom: 4rem;
  }

  h1 { font-size: 3.6rem; }

  h2,
  h2 a {
    font-size: 1.6rem;
    line-height: 2.6rem;
  }

  p {
    font-size: 1.2rem;
    padding-top: 4rem;
    margin-bottom: 0;
  }
}

/*
* iPhone 6, 6S, 7 and 8
* Portrait and Landscape
*/
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .container { padding: 2.2rem; }

  // needs burger menu

  h1 { font-size: 2rem; }

  h2,
  h2 a {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }

  p {
    font-size: 1.2rem;
    padding-top: 4rem;
    margin-bottom: 0;
  }
}
