html {
	background: url("../images/bkgd_marblepurples.jpg") no-repeat center center fixed;
		-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  background-size: cover;
}

body {
	font-family: 'Lato', sans-serif;
	color: Black;
	display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
	flex: 1 0 auto;
}

/*.header {
	position: relative;
	width: 100%;
}*/

/*Need to work on not being slammed at the top of the page*/
#pic {
	position: relative;
	margin-top: 2em;
	/* top: 5px; */
	width: 100px;
	height: 100px;
}

h1 {
	font-family: 'Permanent Marker', cursive;
	margin-top: 0px;
	/*position: absolute;
	top: 0;
	left: 0;
	width: 100%;*/
}

h4 {
	font-weight: 700;
	color: #4451F2;
}

.tab a {
	color: rgb(222, 14, 222) !important;
}

.tab a:hover {
	color: rgb(177, 222, 14) !important;
}

.tabs .indicator {
	background-color: rgb(177, 222, 14) !important;
}

#projects-grid {
	position: relative;
	bottom: 20px;
}

/* .second-row {
	margin-top: 3em;
} */

.thumbnail h2 {
	color: white;
  text-transform: uppercase;
  font-size: 90%;
}

.thumbnail {
	background-color: #4451F2;
	width: 200px;
	height: 200px;
	display: block;
	margin-top: 3em;
}

.thumbnail:hover {
	background-color: #A185F6;
}

.page-footer {
	background-color: #59BAF6;
}

/*
Exploring Color
lighter teal | color: #139CB6;
darker teal | color: #037F96;
lighter sky blue | color: #59BAF6;
lilac | #A185F6;
*/