html { background-color: var(--light); }

body {
	font-family: 'geomanist', sans-serif;
	color: var(--dark);
	margin: 0;
	cursor: url('../images/streamline-icon-interface-geometric-circle@26x26.svg'), auto;
}

/*      Type      */
h1,
h2 { font-weight: 300; }

h1 > span { font-weight: 600; }
h2 > span { font-weight: 500; }

h1 > span:hover { color: var(--pop); }

h2 > span:hover { color: var(--highlight); }

h1 { font-size: 4rem; }

h2 {
	font-size: 2rem;
	line-height: 3rem;
}

p {
	font-size: 1.4rem;
	margin-right: 6rem;
	line-height: 2.2em;
}

p span { font-weight: 500; }
p span:hover { color: var(--pizzazz); }

/*      CTAs      */
.contact {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

a {
	text-decoration: none;
	font-family: inherit;
	font-weight: 400;
	font-size: 1rem;
	padding: 12px 16px;
	color: var(--dark);
	cursor: url('../images/streamline-icon-interface-geometric-triangle@26x26.svg'), auto;
}

a:hover {
	text-decoration: underline var(--dark) 0.5em;
	text-underline-offset: -2em;
}

/* a:hover::before {
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
} */

a+a { margin-left: 12px; }

a.talk {
	font-size: 2rem;
	font-weight: 500;
	line-height: 3rem;
	text-decoration: none;
	padding: 0;
	cursor: url('../images/streamline-icon-mail-send-email@26x26.svg');
}

a.talk:hover { color: var(--vaporwave-violet); }

/*      Flair      */
footer {
	background-color: var(--dark);
	color: var(--light);
	padding: 6rem;
	padding-top: 1rem;
	height: 20vh;
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
}

p span { letter-spacing: 1.1px; }

p span:hover {
	text-decoration: underline var(--pizzazz) wavy 2px;
	text-underline-offset: 0.6em;
}

h1 > span { cursor: url('../images/waving_hand_emoji@42x42.png'), auto; }

h1 > span:hover { position: relative; }

/* Profile bubble */
h1 > span:hover:after {
	content: url(../images/its-me-bw@200x200.jpeg);
	display: block;
	position: absolute;
	left: 450px;
	top: -60px;
	clip-path: circle(91px at 50% 42%);
}

.nerd { cursor: url('../images/nerd_face_emoji@42x42.png'), auto; }

.adventure { cursor: url('../images/crossed_swords_emoji@42x42.png'), auto; }

.horror { cursor: url('../images/coffin_emoji@42x42.png'), auto; }
/* .horror:hover { color: var(--vamp-red); } */

.stitch { cursor: url('../images/yarn_emoji@42x42.png'), auto; }

.fa-asterisk { font-size: 90%; }

sup:hover {
	color: var(--pizzazz);
	animation: fa-spin 2s infinite linear;
}

@-webkit-keyframes fa-spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg)
	}

	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg)
	}
}

@keyframes fa-spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg)
	}

	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg)
	}
}
