html {
	/* background: url("../images/marble_14_2000px.jpg") no-repeat center center fixed; */
	/* background: url("../images/bkgd_marbleteals.jpg") no-repeat center center fixed; */
	background: url("../images/bkgd_marblepurples.jpg") no-repeat center center fixed;
		-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  background-size: cover;
}

body {
	font-family: 'Lato', sans-serif;
	color: Black;
	display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
	flex: 1 0 auto;
}

/*.header {
	position: relative;
	width: 100%;
}*/

/*Need to work on not being slammed at the top of the page*/
/*#pic {
	position: relative;
	top: 5px;
}*/

h1 {
	font-family: 'Permanent Marker', cursive;
	/*position: absolute;
	top: 0;
	left: 0;
	width: 100%;*/
}

h4 {
	font-weight: 700;
	color: #4451F2;
}

#sq1 h2 {
	color: white;
  text-transform: uppercase;
  font-size: 90%;
}

#sq1 {
	background-color: #4451F2;
	width: 200px;
	height: 200px;
}

#sq1:hover {
	background-color: #3C98D9;
}

/*
lighter teal | color: #139CB6;
darker teal | color: #037F96;
lighter sky blue | color: #59BAF6;
lilac | #A185F6;
*/