body {
	/*background-image: url("images/bkgd_congruent_pentagon.png");*/
	background-image: url("images/bkgd_wormz.png");
	color: #11434C;
}

h1 {
    font-family: 'Roboto Slab', serif;
    color: #2F7582;
    margin: 20px;
}

.projects {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    line-height: 28px;
}

.projects a {
	text-decoration: none;
}

/* Not quite working */
.projects a:active {
	color: #B4F0FB;
}

.projects a:visited {
	color: #D38C48;
}

.message {
	font-family: 'Roboto Condensed', sans-serif;
	color: #020B0C;
	margin: 40px;

}